/* font style*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:ital@0;1&family=Righteous&family=Secular+One&display=swap');

/* body */

body{
    margin: 0;
    background-color:whitesmoke;
}

/* header part */

.nav-part{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.topic h2{
     font-family: 'Poppins', sans-serif;
}
.topic{
    margin-top: 20px;
}
.menu{
    margin-top: 20px;
}
.menu a{
    text-decoration: none;
    color:black;
    font-size: 1.5em;
    margin-left:20px;
}

/* main part -------> influencer journey */

.influencer-journey{
    display: flex;
    justify-content: space-around;
}
.journey-des{
    height: 400px;
    width: 550px;
    margin-top: 80px;
    margin-left: 100px;
}
.journey-des h1{
    font-family: 'Fredoka One', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive;
    font-family: 'Secular One', sans-serif;
    font-size:50px;
}
.journey-des p{
    margin-top:-25px;
    margin-bottom: 30px;
    font-size: 20px;
}
.journey-des a{
    text-decoration: none;
    text-align: center;
    color:white;
    font-weight: 700;
    background-color:#E02C6D;
    padding: 10px 20px;
    border-radius: 25px;
    margin-bottom:200px ;
}
.journey-img{
    height: 400px;
    width: 400px;
    margin-top: 30px;
    margin-right: 100px;
}

/* logo property style */

hr{
    border: 1px solid gainsboro;
    margin: 0px 100px;
}
.logo img{
    margin: 10px 0px;
    margin-left: 120px;
}

/* popular collection style */
.collections{
    margin-right: 180px;
    display: grid;
    grid-template-columns: repeat(3,150px);
    justify-content:space-evenly;
    align-items: center;
    grid-row-gap: 30px;
    grid-column-gap: 40px;
}
.popular-collection{
    margin-top: 80px;
}
.popular-h1{
    text-align: center;
    padding-bottom: 50px;
}

.collect{
    height: 440px;
    width: 300px;
    border: 1px solid white;
    box-shadow: .5px .5px 10px grey;
    padding: 10px;
    border-radius: 10px;
}
.collect-des h1{
    margin-top: 10px;
}
.collect-des h2{
    font-weight: 300;
    margin-top: -15px;
}
.rating{
    margin-top:-15px;
}
.fa-star, .fa-star-half-alt{
    color:orangered;
    font-size: 12px;
}
.collect-des span{
    font-weight: 700;
    color:red;
}
.collect-des p{
     margin-top:10px;
     font-size: 1.1em;
}